<!DOCTYPE html>
<html>
  <head>
      <title>Add Note</title>
  </head>
  <body>
    <form method="POST" action="/addnote" id = "add">
    <h2>Want to note down something?</h2><br>
    Title:<br>
    <textarea rows ="5" cols = "50" name = "title" id = "title"></textarea><br>
    Notes:<br>
    <textarea rows="20" cols="50" name = "note" id = "note" ></textarea><br>
    <button type = "submit" id = "submit1">Add</button><br>
    </form>
    <script src = "index.js"></script>
  </body>
</html>
