<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p align = "center" >
    <button type = "submit" id = "submitbtn" align = "right" >Signup</button>
    </p>
  </body>
</html>
