<!DOCTYPE html>
<html>
  <head>
      <title>Login Page</title>
  </head>
  <body>
    <form method="POST" action="/login">
      <h1>Login</h1>
    Username: <input type = "text" name = "username" id = "name"><br>
    Password: <input type = "password" name = "password" id = "password"><br>
    <button id = "submit">Login button</button><br>
    </form>
  </body>
</html>
