<!DOCTYPE html>
<html>
  <head>
      <title>View Note</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </head>
  <body>
    <h1>Notes:</h1><br>
    <% notes.forEach(function(note, i) { %> 
      <div class="note">
        <a href=''><i class="far fa-edit"></i></a>
        <a href='/deletenote/<%= note._id%>'><i class="far fa-trash-alt"></i></a>
        <p><strong><%= note.title %></strong> <%= note.note %></p>
      </div>
    <% }) %>
  </body>
</html>
